body {
   margin: 0;
   margin-top: 16px;
   padding: 0;

   /* height: 100vh; */
   width: 100vw;
   
   display: flex;
   flex-direction: column;

   align-items: center;
   justify-content: center;
   
   gap: 32px;

   background-color: #8ecae6;
}

button {
   border-radius: 16px;
   font-weight: 900;
   font-family: 'Sora';
}



.container {
   border: 1px solid black;
   /* width: 288px;  */

   /* amount of pixels per square * amount of squares (16x16 == 16) */

   display: flex;
   flex-wrap: wrap;
   /* justify-content: center;
   align-items: center; */
}

/* .square {
   padding: 12px;
} */

.buttons {
   display: flex;
   flex-direction: column;
   justify-content:  center;
   align-items: center;

   gap: 32px;
}

.sizing-buttons {
   display: flex;
   flex: 1;
}

.sizing-buttons button {
   border-color: #8ecae6;
   background-color: #023047;
   color: #fefae0;

   padding: 32px;
   
   font-size: 16px;
}


.color-buttons {
   display: flex;
   flex: 1;
}

.color-buttons button {
   border-color: #8ecae6;
   background-color: black;
   color: white;

   padding: 16px;
   
   font-size: 16px;
}

.navbar {
   font-size: 48px;
   font-weight: 900;
   font-family: 'Sora';
   color: #023047;

}