body {
   margin: 0;
   padding: 0;

   height: 100vh;
   width: 100vw;
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   /* border: 3px solid red; */
   /* width: 288px;  */

   /* amount of pixels per square * amount of squares (16x16 == 16) */

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.square {
   border: 1px solid black;
   padding: 8px;
}